body{
    background: url(imagens/ImageTransp.jpeg);
    background-size: cover;
    text-align:center;
    color: white;
    margin-top: 130;
}

h1{
    font-size: 300;
    margin-bottom: 0;
    font-family: 'Celebrare', Times, serif;
    font-weight: normal;
    font-style: normal;
    height: 250;
}

p{
    font-size: 25;
    font-weight: normal;
    margin: 0;
    font-family: 'Crimson Pro', serif;
}

ul{
    list-style: none;
    margin-top: 50;
}

li{
    display: inline;
}

body ul li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}

ul li a:hover{
    color: darkgreen;
}

.segundo-paragrafo{
    margin-bottom: 20;
}

.botao{
    text-decoration: none;
    color: white;
    background-color: darkgreen;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.botao:hover{
    opacity: 0.8;
}

@media (max-width: 640px) {
    body{
        background: #af7d72;
    }
    h1{
        font-size: 200;
        padding-top: 5px;
    }
    p{
        font-size: 15;
    }
}